@{
    ViewBag.Title = "Welcome to SignalR based Chat!";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sample Chat</a>
        </div>
    </div>
</nav>
<div class="container" data-bind="visible: initialized">
    <div id="error" class="alert alert-danger">Ups :( Internal error has occurred. </div>
</div>